body {
    background-color: gray;
}

h1 {
    color: white;
    text-align: center;
}

.menu-item {
    display: block;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 8px black;
    padding: 5px;

}

.image.water {
    width: 300px;
    height: 400px;
    transform: rotate(72deg);
}